@charset "UTF-8";

/* admin主页面 */
/* home_top.jsp */

#home_top_body{
	MARGIN: 0px;
	BACKGROUND-COLOR: #ffffff;
	FONT-SIZE: 12px;
	COLOR: #000000;
}

#home_top_body div{
	margin: 0px;
	padding: 0px;
}

/* home_right.jsp */

#home_right_body{
	margin: 0px;
}

#home_right_body #divSY{
	 width: 100%;
	 line-height: 25px;
	 text-align: center;
	 height: 25px;
	 margin: 3px 2px 10px 2px;
	 background: #acd6ff;
}


/* home_bottom.jsp */

#admin_bottom_body{
	text-align:center;
	font-size: 12px;
}

/*
admin_list
*/

#admin_list_body{
	padding: 0px 2px 0px 2px;
	margin: 0px;
}

#admin_list_div_top{
	width: 100%;
	line-height: 25px;
	text-align: center;
	height: 25px;
	margin: 25px 0px 10px 0px;
	background: #acd6ff;
}

#admin_list_table{
	background-color: #f5fafe;
	margin-bottom: 3px;
}

#admin_list_tr1{
	font-weight: bold;
	font-size: 12px;
	height: 25px;
	background-color: #acd6ff;
}

#admin_list_tr2{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#admin_list_div_page{
	width: 100%;
	background: #afd1f3;
	font-size: 14px;
	text-align: center;
	padding: 3px 0px;
}

/* 
admin_add/edit
*/
#admin_add_div_top{
	 width: 100%;
	 line-height: 25px;
	 text-align: center;
	 height: 25px;
	 margin: 0px 0px 0px 0px;
	 background: #acd6ff;
}

.admin_add_div_middle{
	width: 49.8%;
	height: 30px;
	background: #f5fafe;
	text-align: center;
	line-height:30px;
	font-size: 14px;
	float: left;
	border: 1px solid #EEEEEE;
}

.admin_add_div_middle1{
	width: 50%;
	height: 30px;
	background: #f5fafe;
	text-align: center;
	line-height:30px;
	font-size: 14px;
	float: left;
	border: 1px solid #EEEEEE;
	border-right: none;
}

#admin_add_div_bottom{
	width: 100%;
	height: 25px;
	background: #f5fafe;
	text-align: center;
	padding: 6px 0px 6px 0px;
	font-size: 14px;
	clear: both;
	border: 1px solid #EEEEEE;
	border-style: none;
}

.admin_form1{
	border: 1px solid #8BA7E3;
}

.admin_body{
	margin: 1% 1%;
	padding: 0px;
}

.admin_body .admin_form1 .admin_add_div_middle .admin_merchant_d1{
	width: 37%;
	float: left;
}

.admin_body .admin_form1 .admin_add_div_middle .admin_merchant_d2{
	text-align: left;
}

.admin_body .admin_form1 .admin_add_div_middle .admin_merchant_d3{
	width: 18.5%;
	float: left;
}

.admin_merchant_pd_a_e{
	width: 100%;
}

.admin_merchant_pd_a_e_d2{
	width: 100%;
	height: 82px;
	line-height: 90px;
}

.admin_merchant_pd_l_d1{
	width: 100%;
	height: 30px;
}

.button_add{
	float: right;
}

.admin_merchant_pd_immg1{
	CURSOR: hand;
}

.admin_m_m_l_d1{
	width: 100%;
	height: 30px;
}

.admin_m_m_l_d1 #add{
	float: right;
}

.admin_form1_table{
	margin: 0px;
	padding: 0px;
}

.admin_form1_table #admin_list_tr2 .admin_form1_table_tr_td1{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #3C3C3C;
}

.admin_form1_table #admin_list_tr2 .admin_form1_table_tr_td2{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.admin_form1_table #admin_list_tr2 .admin_form1_table_tr_td3{
	color: #FF5809;
	font-size: 14px;
	font-weight: bold;
}

.admin_list_tr3{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

.admin_form1_table_tr_td4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #3C3C3C;
}

.admin_form1_table_tr_td5{
	color: #FF5809;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding-left: 1%;
}

#admin_list_moddle{
	width: 100%;
	height: 36px;
}

.admin_list_tr2_img1{
	CURSOR: hand;
}

/* 搜索框和添加按钮的样式 */
.input-group1 {
	width: 28%;
	height: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 2px solid #acd6ff;
	padding: 0px;
	float: left;
	margin-left: 36%;
	border-radius: 3px;
}

.input-group_input1 {
	height: 23px;
	width: 81%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 8px;
	outline: none;
	border-radius: 1px;
}

.input-group_button1 {
	height: 25px;
	width: 16%;
	background: #acd6ff;
	border: 0px solid #ff7496;
	float: right;
	cursor: pointer;
}

.admin_list_body_moddle1{
	width: 100%;
	height: 30px;
}

.button-group1{
	padding-top: 3px;
}

.button-group_button_add1{
	float: right;
}

/* 只有搜索框样式 */
.input-group2 {
	width: 28%;
	height: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 2px solid #acd6ff;
	padding: 0px;
	float: left;
	margin-left: 36%;
	border-radius: 3px;
}

.input-group_input2 {
	height: 23px;
	width: 81%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 8px;
	outline: none;
	border-radius: 1px;
}

.input-group_button2 {
	height: 25px;
	width: 16%;
	background: #acd6ff;
	border: 0px solid #ff7496;
	float: right;
	cursor: pointer;
}

/* 可以分类查询的搜索框样式 */
.input-group_select3{
	width: 23.5%;;
	height: 108%;
	margin: 0 auto;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	border: 1px solid #acd6ff;
}

.input-group3 {
	width: 29%;
	height: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 2px solid #acd6ff;
	padding: 0px;
	background: red;
	border-radius: 3px;
	margin-left: 35%;
}

.input-group_input3 {
	height: 23px;
	width: 60%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 2%;
	outline: none;

}

.input-group_button3 {
	height: 25px;
	width: 14.5%;
	background: #acd6ff;
	border: 0px solid #ff7496;
	float: right;
	cursor: pointer;
}

/* 有分类查询和价格区间的搜索框  右侧没有添加、上架功能 */
.input-group4 {
	width: 40%;
	height: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 2px solid #acd6ff;
	padding: 0px;
	border-radius: 3px;
}

.input-group_select4{
	width: 16%;;
	height: 108%;
	margin: 0 auto;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	border: 1px solid #acd6ff;
}

.input-group_input4 {
	height: 23px;
	width: 40%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 2%;
	outline: none;
}

.input-group_input5 {
	height: 23px;
	width: 12%;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 0px;
	outline: none;
	background: #acd6ff;
	text-align: center;
}

.input-group_input6 {
	height: 23px;
	width: 12%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 0px;
	outline: none;
	background: #acd6ff;
	text-align: center;
}

.input-group_button4 {
	height: 25px;
	width: 12%;
	background: #acd6ff;
	border: 0px solid #ff7496;
	float: right;
	cursor: pointer;
}

.input-group4_d4{
	float: left;
}

/* 有分类查询和价格区间的搜索框  右侧有添加、上架功能 */
.input-group5 {
	width: 40%;
	height: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 2px solid #acd6ff;
	padding: 0px;
	border-radius: 3px;
	float: left;
	margin-left: 30%;
}

.input-group_select5{
	width: 16%;;
	height: 108%;
	margin: 0 auto;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	border: 1px solid #acd6ff;
}

.input-group_input7 {
	height: 23px;
	width: 40%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 2%;
	outline: none;
}

.input-group_input8 {
	height: 23px;
	width: 12%;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 0px;
	outline: none;
	background: #acd6ff;
	text-align: center;
}

.input-group_input9 {
	height: 23px;
	width: 12%;
	background: #FFFFFF;
	font-size: 12px;
	float: left;
	border: 0px solid #FFF;
	border-left: 1px solid #c0c0c0;
	padding-left: 0px;
	outline: none;
	background: #acd6ff;
	text-align: center;
}

.input-group_button5 {
	height: 25px;
	width: 12%;
	background: #acd6ff;
	border: 0px solid #ff7496;
	float: right;
	cursor: pointer;
}

.input-group5_d1{
	float: left;
}

.input-group5d1{
	float: right;
}