@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

#carousel {
	display: table;
	float: left;
	overflow: hidden;
	position: relative;
	width: 74%;
	height: 100%;
	line-height: 100%;
	margin-top: 8px;
	margin-right: 1%;
	padding-top: 0px;
	background: red;
	border: 0px solid blue;
	
	
}

#carousel_ul {
	/* 娓呮ul鐨勭偣 */
	list-style: none;
	/* 寮�鍚粷瀵瑰畾浣� */
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#carousel_ul li {
	/* 璁剧疆娴姩 */
	float: left;
	/* 璁剧疆宸﹀彸杈硅窛 */
	margin: 0 0;
	height: 100%;
}

#carousel_ul li img {
	width: 100%;
	height: 100%;
}

#navDiv {
	position: absolute;
	/* 璁剧疆 */
	bottom: 4%;
	width: 14%;
	height: 3.5%;
}

#navDiv a {
	/* 璁剧疆瓒呴摼鎺ユ诞鍔� */
	float: left;
	/* 璁剧疆瓒呴摼鎺ラ暱瀹� */
	width: 12%;
	height: 98%;
	border-radius: 5px;
	background-color: red;
	margin: 0 4%;
	/* 璁剧疆閫忔槑搴� */
	opacity: 0.5;
	/* 鍏煎IE */
	/* filter: alpha(opacity=50); */
}

#navDiv a:hover {
	background-color: black;
}
