@charset "UTF-8";
/* product */
#product_body{
	background: #FCFCFC;
	margin: 0px;
	padding: 0px;
}

.now{
	background: #FFFFDF;
	color: #FF9224;
	font-size: 18px;
	padding: 0.5% 2%;
	border-radius: 50px;
}

#product_div1{
	width: 84%;
	height: 501px;
	margin-left: 8%;
	margin-bottom: 25px;
}

#product_div1_div1{
	width: 38%;
	height: 501px;
	border: 1px solid #E0E0E0;
	float: left;
}

#product_div1_div1_div1{
	background: #F0F0F0;
	width: 94%;
	height: 82%;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 2%;
}

#product_div1_div1_div2{
	width: 100%;
	height: 60px;
	margin-left: 4%;
	overflow: hidden;
}

#product_div1_div2{
	width: 44%;
	height: 501px;
	float: left;
}

#product_div1_div2_div1{
	height: 50px;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 2%;
	margin-top: 0px;
}

#product_div1_div2_div1_font{
	font-size: 18px;
	font-weight: bold;
}

#product_div1_div2_div2{
	background: #FFECF5;
	margin: 0% 5% 0% 3%;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
}

#product_div1_div2_div2 div #font1{
	font-size: 18px;
	text-decoration: line-through;
}

#product_div1_div2_div2 div #font2{
	font-size: 30px;
	font-weight: bold;
}

#product_div1_div2_div3{
	margin: 10px 5% 12px 3%;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
}

#product_div1_div2_div3 .product_div1_div2_div3_font{
	font-size: 18px;
	font-weight: bold;
}

.product_div1_div2_div3_div1{
	width: 14%;
	float: left;
}

.product_div1_div2_div3_div2{
	width: 86%;
	height: 50px;
	margin-left: 14%;
	overflow: hidden;
}

#product_div1_div2_form .product_div1_div2_form_div1{
	margin: 0px 5% 12px 3%;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}

#product_div1_div2_form .product_div1_div2_form_div1 .product_div1_div2_form_div1_div1{
	width: 14%;
	float: left;
}

#product_div1_div2_form .product_div1_div2_form_div1 .product_div1_div2_form_div1_div2{
	width: 86%;
	height: 26px;
}

.product_div1_div2_form_div1_div2 select{
	width:80px;
	height: 23px;
}

.product_div1_div2_form_div1_div2 input{
	position: absolute;
	width: 4.2%;
	height: 3.2%;
	margin-left: -83px;
	margin-top: 1px;
	padding-left: 5px;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	text-align: center;
}

.product_div1_div2_form_div2{
	margin: 0px 5% 15px 15%;
	padding: 0px 10px 0px 10px;
	font-size: 14px;
}

.product_div1_div2_form_div2_input1{
	padding-left: 10%;
	height: 45px;
	width: 40%;
	background: #F22D00;
	color: #F0F0F0;
	font-size: 16px;
	position: relative;
}

.product_div1_div2_div4{
	background: #FFECF5;
	height: 62px;
	margin: 0px 5% 10px 3%;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}

.product_div1_div2_div4_div1{
	width: 14%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.product_div1_div2_div4_div2{
	width: 86%;
	height: 30px;
	line-height: 30px;
	float: left
}

.product_div1_div2_div4_div3{
	width: 14%;
	height: 30px;
	line-height: 30px;
	clear: none;
	float: left;
}

.product_div1_div3{
	width: 17%;
	border: 1px solid #BEBEBE;
	float: left;
}

.product_div1_div3_div1{
	width: 100%;
	margin-bottom: 5%;
}

.product_div1_div3_div1_div1{
	width: 100%;
	background: #FFF5DC;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.product_div1_div3_div1_div2{
	border:1px solid #666;
	height:60%;
	width:90%;
	margin-left: 5%;
	margin-top: 15px;
	position:relative;
}

.product_div1_div3_div1_div2 h3 {
	background:#FFF;
	display:block;
	height:20px;
	width:50px;
	position:absolute;
	left:60%;
	top:-20px;
	text-align:center;
	font-size: 10px;
}

.product_div1_div3_div2{
	width: 100%;
	height: 181px;
}

.product_div1_div3_div2_div1{
	background: red;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.product_div1_div3_div2_div2{
	font-size: 14px;
	color: #4F4F4F;
	margin-left: 5%;
}

#product_div2{
	width: 84%;
	background: blue;
	margin-left: 7%;
}

#product_div2 .leftDiv{
	width: 18%;
	float: left;
	overflow: hidden;
}

.product_div2_leftDiv_d1{
	width: 100%;
	height: 43px;
	background: #E0E0E0;
	border: 1px solid #BEBEBE;
	text-align: center;
	line-height: 43px;
	font-weight: bold;
}

.product_div2_leftDiv_d2{
	width: 100%;
	height: 30px;
	background: #000;
	color: #F0F0F0;
	border: 1px solid #BEBEBE;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

.product_div2_leftDiv_d3{
	width: 100%;
	border: 1px solid #FFF;
	background: #000;
	color: #F0F0F0;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

.product_div2_leftDiv_d3 div{
	width: 80%;
	border: 1px solid #FFF;
	margin: 2% 10% 2% 10%;
}

.product_div2_leftDiv_d4{
	width: 100%;
	height: 30px;
	background: #000;
	color: #F0F0F0;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

.product_div2_leftDiv_d5{
	background: #000;
	width: 100%;
}

.product_div2_leftDiv_d5_d1{
	width: 100%;
	overflow: hidden;
}

.product_div2_leftDiv_d5_d1_d1{
	width: 45%;
	float: left;
	text-align: center;
	margin-top: 6%;
}

.product_div2_leftDiv_d5_d1_d1 img{
	border: 1px solid #F0F0F0;
}

.product_div2_leftDiv_d5_d1_d2{
	color: #E0E0E0;
	width: 55%;
	float: left;
	font-size: 12px;
	margin-top: 6%;
}

#product_div2 .centerDiv{
	width: 66%;
	float: left;
	overflow: hidden;
}

#product_div2 .centerDiv .title{
	width: 100%;
	height: 43px;
	background: #E0E0E0;
	border: 1px solid #BEBEBE;
	line-height: 43px;
	font-weight: bold;
}

#product_div2 .centerDiv .title a{
	margin-left: 2%;
}

#product_div2 .centerDiv .content{
	width: 100%;
	font-size: 14px;
}

#product_div2 .centerDiv .content .aa .div1{
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	background: #FFECF5;
}

#product_div2 .centerDiv .content .aa .div1 .div1_d1{
	font-size: 14px;
	margin-bottom: 10px;
}

#product_div2 .centerDiv .content .aa .div1 .div1_d1 .div1_d1_d1{
	float: left;
	font-weight: bold;
}

#product_div2 .centerDiv .title .a{
	text-decoration : none;
}

#product_div2 .centerDiv .content .aa .div2{
	margin-left: 1%;
	margin-right: 1%;
}

#product_div2 .centerDiv .content .aa .div2 img{
	margin-bottom: 5px;
}

#product_div2 .centerDiv .content .aa .div3{
	margin-top: 50px;
	margin-left: 2%;
	margin-right: 10%;
}


#product_div2 .centerDiv .content .aa .div3 .font1{
	font-size: 16px;
	font-weight: bold;
}

#product_div2 .centerDiv .content .aa .div3 h5 .font2{
	color: #FF8000;
	margin-right: 2%;
}

#product_div2 .centerDiv .content .aa .div3 h5 .font3{
	font-size: 14px;
	color: #272727;
}

#product_div2 .centerDiv .content .aa .div3 .div3_d1{
	background: #FFD9EC;
	border: 2px solid #FFAAD5;
	padding: 10px 10px 10px 10px;
}

#product_div2 .centerDiv .content .aa .div3 .div3_d1 .div3_d1_d1{
	float: left;
	height: 48px;
	font-size: 12px;
	font-weight: bold;
}

#product_div2 .centerDiv .content .aa .div3 .div3_d1 .div3_d1_d2{
	clear: none;
	font-size: 12px;
	margin-bottom: 25px;
}

#product_div2 .centerDiv .content .aa .div3 .div3_d1 .div3_d1_d3{
	float: left;
	height: 64px;
	font-size: 12px;
	font-weight: bold;
}
 
 #product_div2 .centerDiv .content .aa .div3 .div3_d1 .div3_d1_d4{
	clear: none;
	font-size: 12px;
}

#product_div2 .centerDiv .content .aa .div4{
	overflow: hidden;
}

#product_div2 .centerDiv .content .aa .div4 .div4_d1{
	float: left;
	width: 15%;
	text-align: center;
	margin-top: 10px;
}

#product_div2 .centerDiv .content .aa .div4 .div4_d1 .div4_d1_d1{
	margin-top: 20%;
	font-size: 15px;
}

#product_div2 .centerDiv .content .aa .div4 .div4_d2{
	float: left;
	height: auto;
	margin-top: 10px;
	width: 85%;
}

#product_div2 .centerDiv .content .aa .div4 .div4_d2 .div4_d2_d1{
	margin-bottom: 5px;
}

#product_div2 .centerDiv .content .aa .div4 .div4_d2 .div4_d2_d2{
	font-size: 12px;
	color: #3C3C3C;
	margin-top: 5px;
}

#product_div2 .centerDiv .content .aa .div5{
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
	margin-top: 25px;
}

#product_div2 .centerDiv .content .aa .div5 .div5_font{
	font-size: 12px;
	line-height: 30px;
}

#product_div2 .centerDiv .content .aa .div5 .div5_font .div5_font_font{
	font-size: 18px;
	font-weight: bold;
}

#product_div2 .centerDiv .content .aa .div6{
	margin-bottom: 25px;
}

#product_div2 .centerDiv .content .aa .div6 .div6_d1{
	width: 13%;
	height: 80px;
	float: left;
	text-align: center;
}

#product_div2 .centerDiv .content .aa .div6 .div6_d2 .div6_d2_font{
	font-size: 20px;
	font-weight: bold;
}

#product_div2 .centerDiv .content .aa .div6 .div6_d3{
	color: #272727;
	margin-right: 10%;
}

#product_div2 .rightDiv{
	width: 15.8%;
	background: #F0F0F0;
	border: 1px solid #BEBEBE;
	float: left;
}

#product_div3{
	width: 100%;
	height: 10px;
	clear: none;
	margin-top: 30px;
}