<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
		
	<!-- 设置dbcp连接数据库的方式 -->	
	
	<context:property-placeholder location="classpath:datasource.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${user}"></property><!-- 数据库连接的用户名 -->
		<property name="password" value="${password}"></property><!-- 数据库连接的密码 -->
		<property name="driverClass" value="${driverClass}"></property><!-- 数据库连接DriverClassName -->
		<property name="jdbcUrl" value="${url}"></property><!-- 数据库连接的url地址 -->
	</bean>
	
	<bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		
		<!-- 加载映射文件 -->
		<property name="mappingLocations"
			value="classpath:org/bigjava/*/entity/*.hbm.xml"></property>
		
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect<!-- 设置数据库方言 -->
				hibernate.show_sql=true<!-- 显示数据库语句 -->
				hibernate.format_sql=true<!-- 使数据库语句自动换行 -->
				hibernate.hbm2ddl.auto=create<!-- 自动建表时变为修改表 -->
			</value>
		</property>
	</bean>
	
	<bean name="userAction" class="org.bigjava.user.action.UserAction" autowire="byName" scope="prototype" />
	
	<bean name="userBizImpl" class="org.bigjava.user.biz.impl.UserBizImpl" autowire="byName" />
	
	<bean name="userDaoImpl" class="org.bigjava.user.dao.impl.UserDaoImpl" autowire="byName" />
	
	<bean name="merchantDaoImpl" class="org.bigjava.merchant.dao.impl.MerchantDaoImpl" autowire="byName" />
	
	<bean name="categoryDaoImpl" class="org.bigjava.category.dao.impl.CategoryDaoImpl" autowire="byName" />
	
	<bean name="categorySecondDaoImpl" class="org.bigjava.categorysecond.dao.impl.CategorySecondDaoImpl" autowire="byName" />
	
	<bean name="addrDaoImpl" class="org.bigjava.addr.dao.impl.AddrDaoImpl" autowire="byName" />
	
	<bean name="productDaoImpl" class="org.bigjava.product.dao.impl.ProductDaoImpl" autowire="byName" />
	
	<bean name="orderItemDaoImpl" class="org.bigjava.orderitem.dao.impl.OrderItemDaoImpl" autowire="byName" />
	
	<bean name="orders" class="org.bigjava.orders.dao.impl.OrdersDaoImpl" autowire="byName" />
	
	<bean name="comment" class="org.bigjava.comment.dao.impl.CommentDaoImpl" autowire="byName" />
	
	<bean name="images" class="org.bigjava.image.dao.impl.ImageDaoImpl" autowire="byName" />
	
	<bean name="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* org.bigjava.*.dao.impl.*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config>
</beans>